# Node modules - match anywhere
**/node_modules/
node_modules/

# Backend
BACKEND/uploads/*
BACKEND/.env*
BACKEND/package-lock.json
BACKEND/keys/

# Frontend
ontrackapp/.env.production
ontrackapp/package-lock.json

# General
*.log
.DS_Store